{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% load humanize %}

{% block content %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<style>
    body {
        font-family: Helvetica Neue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
        font-size: 12px;
        font-style:  normal;
        font-color: dark;
        background-color: #f7f7f7;
    }

    .head_text {
        color: white;

    }

    .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


    .card {
        box-shadow: 0 16px 30px #77773c;
        background-color: #fdfdfd;
        width: 3000;
        margin: 1.6px;
        height: auto
        border-radius: 10px;
    }

    form ul:not(.errorlist) {
    display: none;
}

.newsletter-wrapper {
    padding: 50px 20px;
    text-align: center;
    background: #0E3E2E;
}
 .newsletter-wrapper .field.has-addons {
        justify-content: center;
    }

   .newsletter-wrapper .notification {
        margin-top: 20px;
    }

  .notification.space-below {
   text-color: #0E3E2E;
   margin-bottom: 20px;
}

.reviews-wrapper{
    justify-content: center;
}

.reviews-wrapper{
    width: 100vw;
    display: block;
    overflow: hidden;
    text-color: #0c0d0c;
    padding: 70px 5;
    box-sizing: border-box;


}


.card-text{
    width: 50vw;
    display: block;
    overflow: hidden;
    text-color: #0c0d0c;
    padding: 20px 5;
    box-sizing: border-box;
    box-shadow: 0 16px 48px #85adad;
    text-align: justify;
}

.control {
margin: -10px;

}

.title{
    width: 100vw;
    display: block;
    overflow: hidden;
    text-color: #0c0d0c;
    padding: 70px 5;
    box-sizing: border-box;
    font-size: 18px;
    font-style:  normal;
}



.container {
  padding: 2px 16px;
}

.card-contents {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  height: 50%;
  box-sizing: border-box;
  background-color: #fdfdfd;
  margin: 10px;
}

.reviews-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  height: 50%;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  margin: 10px;
}

/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 600px) {
  div.example {
    font-size: 80px;
  }
}

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 15px;
  }
}


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }

  .fa_custom {
color: #0099CC
}

</style>

<div class="flex-container">
    <img src="\media\uploads\frontpageimageflex.jpg">
</div>
</div>
       <div id="productapp">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'frontpage' %}">Home</a></li>
                {% if product.category.parent %}
                    <li><a href="{% url 'category_detail' product.category.parent.slug %}">{{ product.category.parent.title }}</a></li>
                {% endif %}
                <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
                <li class="is-active"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a></li>
            </ul>
        </nav>

<a href="{% url 'frontpage' %}" class="button is-danger">Continue Shopping</a>
<a href="{% url 'cart' %}" class="button is-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></i>View Cart</a>

           <hr>
          <div class="reviews-wrapper">
          <div class="container">
           <img :src="mainImage">
   <td>
                                    {% if product.in_cart %}
                                        <p>Already in cart!</p>
                                    {% else %}
                                        {% if product.num_available > 0 %}
                                            <button @click="addToCart({{ product.id }})" class="button is-success is-Loading">Add to cart</button>
                                        {% else %}
                                            <p>The product is out of stock!</p>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
             </div>
           </div>
        {% if product.images.all %}
            <hr>
            <div class="reviews-wrapper">
                <div class="column is-2" v-for="image in images">
                    <figure class="image is-128x128">
                        <img :src="image.thumbnail" @click="changeMainImage(image.image)">
                    </figure>
                </div>
           </div>

        {% endif %}
        <hr>
         <div class="reviews-wrapper">
         <div class="container">
        <h1 class="subtitle">{{ product.title }}</h1>
         </div>
         </div>
           <div class="reviews-wrapper">
         <div class="container">
        <h2 class="title">₦ {{ product.price|intcomma }}, <i class="fa fa-star checked" aria-hidden="true"></i>: {% if product.get_rating == 0 %}No ratings yet{% else %}{{ product.get_rating|floatformat:1 }}{% endif %}</h2>
              </div>
        </div>

         <div class="card-contents">
         <div class="container">
         <h1 class="title">Product Details</h1>
        {% if product.description %}
            <p>{{ product.description|linebreaksbr }}</p>

              </div>
        </div>

           {% endif %}

         <div class="reviews-wrapper">
         <div class="container">
         <h1 class="title">Key Features</h1>
        {% if product.key_features %}
            <p>{{ product.key_features|linebreaksbr }}</p>

              </div>
        </div>

        <hr>
           {% endif %}

        <hr>

        {% if product.variants.all %}
            <div class="columns">
                <div class="column is-6">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="image is-48x48">
                                        {% if product.thumbnail.url %}
                                            <img src="{{ product.thumbnail.url }}">
                                        {% endif %}
                                    </figure>
                                </td>

                                <td>
                                    {{ product.title }}
                                </td>

                            {% for variant in product.variants.all %}
                                <tr>
                                    <td>
                                        <figure class="image is-48x48">
                                            {% if variant.thumbnail.url %}
                                                <img src="{{ variant.thumbnail.url }}">
                                            {% endif %}
                                        </figure>
                                    </td>

                                    <td>
                                        {{ variant.title }}
                                    </td>

                                    <td>
                                        {% if variant.in_cart %}
                                            <p>Already in cart!</p>
                                        {% else %}
                                            {% if variant.num_available > 0 %}
                                                <button @click="addToCart({{ variant.id }})" class="button is-success">Add to cart</button>
                                            {% else %}
                                                <p>The product is out of stock!</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            {% if product.in_cart %}
                <p>Already in cart!</p>
            {% else %}
                {% if product.num_available > 0 %}
                    <button @click="addToCart({{ product.id }})" class="button is-success">Add to cart</button>
                {% else %}
                    <p>The product is out of stock!</p>
                {% endif %}
            {% endif %}
        {% endif %}

        <article class="message is-success" v-if="showMessage">
            <div class="message-body">
                The product was added to the cart!
            </div>
        </article>

        <hr>
        <h2 class="title">Similar products you might like</h2>

        {% with related_products as list_products %}
            {% include 'parts/product_list.html' %}
        {% endwith %}

        <hr>

        <div class="reviews-wrapper">
            <div class="title">Customer Reviews</div>
            {% for review in product.reviews.all %}
                <div class="notification space-below">
                    <p>
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong><i class="fa fa-star" aria-hidden="true"></i>: </strong>{{ review.stars }}
                    </p>

                    {{ review.content }}
                </div>
            {% empty %}
                <div class="notification space-below">
                    No reviews yet...
                </div>
            {% endfor %}

         </div>

         <div class="notification space-below">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Stars</label>

                        <div clas="control">
                            <div class="select">
                                <select name="stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Content</label>
                        <hr>
                        <div class="control">
                            <textarea class="textarea" name="content"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>Please sign in to add review!</p>
            {% endif %}
        </div>
    </div>

 <h2 class="title has-text-centered">Recently viewed products</h2>

    {% with recently_viewed_products as list_products %}
        {% include 'parts/product_list.html' %}
    {% endwith %}


<div class="flex-container">
    <img src="https://ng.jumia.is/cms/Homepage/2020/W37/cb-lloyd-min.jpg">
</div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var productapp = new Vue({
        el: '#productapp',
        delimeters: ['[[', ']]'],
        store: store,
        data () {
            return {
                showMessage: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}]
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
            changeMainImage(image) {
                this.mainImage = image;
            },
            addToCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id,
                    'update': false,
                    'quantity': 1
                };

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true

                    store.commit('increment', 1);

                    setTimeout(() => {
                        this.showMessage = false
                    }, 2000)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
{% endblock %}