{% extends 'base.html' %}

{% block title%}About | {% endblock %}

{% block content %}

    <div id="aboutusapp">
        <h1 class="title">About Us</h1>

         <div class="table">

                        dobuy.com your number one online store in Nigeria.
						Finding quality products has never been made so easy online,
						with amabuyer.com you don’t need to worry about getting value for your money,
						with our money back guarantee you can trust we would deliver what you order in good time.
						Copyright © 2020
{% endblock %}